@import '../../style/mixins';
@import '../../style/variables';
.customerDetail {
  background: url('../../assets/img/customer-bg.png') no-repeat;
  background-size: 100% 161px;
  .content {
    .user {
      @include flex-between-center();
      padding: 20px;
      .title {
        @include flex-start-center();
        .desc {
          margin-left: 10px;
          p:nth-child(1) {
            font-size: 15px;
            color: #ffffff;
            line-height: 21px;
            margin-bottom: 2px;
            @include bold();
          }
          p:nth-child(2) {
            span {
              display: inline-block;
              opacity: 0.5;
              @include hairline-surround(#ffffff);
              padding: 0 6px;
              font-size: 12px;
              color: #ffffff;
              margin-right: 6px;
            }
          }
        }
      }
      .helpBtn {
        p {
          background: #caa678;
          border-radius: 2.2px;
          font-size: 13px;
          color: #ffffff;
          padding: 4px 7px;
        }
      }
    }
    .card {
      box-sizing: border-box;
      height: 144px;
      margin: 0px 16px 15px;
      padding: 20px 0;
      background: url('../../assets/img/customer-card-bg.png') no-repeat;
      background-size: cover;
      & > p:nth-of-type(1) {
        @include flex-center-center();
        font-size: 12px;
        opacity: 0.6;
        color: #a37b4b;
      }
      & > p:nth-of-type(2) {
        @include flex-center-center();
        font-size: 26px;
        color: #844909;
        @include bold();
        margin-bottom: 13px;
      }
      .rate {
        @include flex-center-center();
        .left {
          width: 50%;
          text-align: center;
          p:nth-of-type(1) {
            opacity: 0.6;
            font-size: 12px;
            color: #a37b4b;
          }
          p:nth-of-type(2) {
            font-size: 15px;
            color: #844909;
            @include bold();
          }
        }
        .right {
          width: 50%;
          text-align: center;
          p:nth-of-type(1) {
            opacity: 0.6;
            font-size: 12px;
            color: #a37b4b;
          }
          p:nth-of-type(2) {
            font-size: 15px;
            color: #844909;
            @include bold();
          }
        }
      }
    }
    .btns {
      padding: 0 16px;
      margin: 12px 0;
      @include flex-center-center();
      p {
        border-radius: 4px;
        width: 50%;
        text-align: center;
      }
    }
    .information {
      background: #ffffff;
      margin-bottom: 10px;
      padding: 0 16px;
      .header {
        @include flex-between-center();
        padding: 12px 0 10px 0;
        p:nth-child(1) {
          font-size: 14px;
          color: #333333;
          @include bold();
        }
        p:nth-child(2) {
          @include flex-start-center();
          svg {
            margin-right: 6px;
          }
          font-size: 13px;
          color: #999999;
        }
      }
      ul {
        padding-bottom: 10px;
        & > li {
          @include flex-start-start();
          padding: 5px 0;
          p:nth-child(1) {
            width: 25%;
            font-size: 14px;
            color: #999999;
          }
          p:nth-child(2) {
            @include flex-col-start-start();
            width: 70%;
            font-size: 14px;
            color: #333333;
          }
          .tel {
            flex-direction: row !important;
            align-items: center !important;
            a {
              @include flex-start-center();
            }
            svg {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
  .footer {
    height: 55px;
    .adm-button {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
